@import url(https://db.onlinewebfonts.com/c/cd1810fafebbd3df4964112052edf871?family=FinkHeavy);
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


:root {
  --header-font: "FinkHeavy", serif;
  --body-font: "Arvo", system-ui;
}

#main {
  background: url(images/grassfieldbackground.jpg) repeat center center;
  z-index: -1;

}

#hero-outer {
  height: 470px;
  width: 1280px;

  position: relative;
}

#hero-image {
  width: 100%;
  height: 470px;
  background: url(images/yaopey-yong-t8woJfDB1Ec-unsplash.jpg) no-repeat center center;
  z-index: 2;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.5;
}

@keyframes changecolour {
  0% {
    background-color: #6f5527;
  }

  25% {
    background-color: #98712e;
  }

  50% {
    background-color: #6f5527;
  }

  100% {
    background-color: #98712e;

  }
}

#cover-text {
  position: absolute;
  text-align: center;
  left: 30%;
  top: 20%;
  background-color: #98712e;
  border-radius: 15px;
  padding: 5px 10px;
  animation-name: changecolour;
  animation-duration: 5s;
}

#cover-text:hover,
#cover-text:focus,
#searchbar:hover,
#searchbar:focus {
  transform: scale(1.2, 1.2);
}


h1 {
  font-family: 'FinkHeavy', Arial, Helvetica, sans-serif;
  text-align: middle;
  color: #ebc449;
  font-size: 4em;
}

#searchbar {
  width: 80%;
  border: none;
  border-radius: 15px;
  padding: 10px;
  left: 10%;
  top: 35%;
  position: absolute;
  font-family: var(--body-font);
  text-align: center;
}

#clickybuttons {
  position: absolute;
  left: 40%;
  top: 40%;
  text-align: center;
}

.hidden {
  /*  display: none; */
}

button {
  background-color: #095535;
  border-radius: 10px;
  padding: 10px;
  color: #ebc449;
  border: 1px solid #ebc449;
}

#randomvillager {
  font-family: 'Arvo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  color: #6f5527;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#pagebuttons {
  position: relative;
}

.number-input {
  border: 2px solid #98712e;
  display: inline-flex;
 /* position: absolute;
  left: 35%; */
  margin-top: 5px;
  margin-left:40%;
}

.number-input,
.number-input * {
  box-sizing: border-box;
  background-color: #fae69d;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

#backarrow:before {
  display: inline-block;
  position: absolute;
  content: '🌿';
  width: 2rem;
  /* height: 2px;
  background-color: #212121; */
  transform: translate(50%, 25%);
  rotate: 180deg;
}

#forwardarrow:after {
  display: inline-block;
  position: absolute;
  content: '🌿';
  width: 2rem;
  /* height: 2px;
  background-color: #212121; */
  transform: translate(-50%, -50%);
}

/* .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
} */

#forwardarrow {
  content: '&#10165;';
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #98712e;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  /* font-weight: bold; */
  text-align: center;
  color: #6f5527;
  font-family: var(--header-font);
}

#VillagerPage {

  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: rgb(235, 196, 73);
  border: rgb(235, 196, 73);
  text-align: center;
  font-family: var(--body-font);
  margin: 5px;
}

.card:hover,
.card:focus {
  transform: scale(0.9, 0.9);
}

.list-group-item {
  border: none;
  background-color: #fae69d;
}

#discover {
  font-family: var(--header-font);
  color: #e2cc7a;
  border: 1px solid #e2cc7a;
  border-radius: 15px;
  position: absolute;
  top: 40%;
  left: 30%;
  font: 2.5rem;
  padding: 10px;
  background-color: #f7f7f7;
}

#birthdaycheck {
  padding: 10px;
  left: 31%;
  top: 30%;
  position: absolute;
}

#month,
#day {
  width: 20%;
  border-radius: 15px;
  background-color: #fff1c0;
  height: 50px;
  font-family: var(--body-font);
  text-align: center;
  border: 1px
}

#congrats,
#sorry {
  font-family: var(--body-font);
  color: #98712e;
  size: 1.5em;
  text-align: center;
  background-color: #fff1c0;
  border-radius: 15px;
  margin-top: 5px;
}


@media (max-width: 375px) {
  #cover-text {
    left: 10%;
    top: 10%;
    right: 10%;
  }

  #clickybuttons {
    left: 5%;
    top: 41%;
    right: 5%;
    width: 350px;
  }

  .card {
    margin-left: 10%;
    max-width: 375px;
  }

  .number-input {
    margin-left: 22%;
  }
}