@import url(https://db.onlinewebfonts.com/c/cd1810fafebbd3df4964112052edf871?family=FinkHeavy);

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-image: url(../images/grassfieldbackground.webp), linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.9));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover !important;
  z-index: -1;
}

:root {
  --header-font: "FinkHeavy", serif;
  --body-font: "Arvo", system-ui;
}

#main {
  position: relative;
  padding-top: 1px;
}

.btn-primary {
  top: 5%;
  position: absolute;
  left: 1%;
  background-color: #095535;
  border: #1aab73;
  font-family: var(--body-font);
}

.btn-primary:hover {
  background-color: #1aab73;
}

#hero-outer {
  height: 470px;
  width: 1280px;

  position: relative;
}

#hero-image-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 508px;
  position: relative;

}

#hero-image {
  width: 100%;
  height: 508px;
  background: url(../images/yaopey-yong-t8woJfDB1Ec-unsplash.webp) no-repeat center center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  object-fit: cover;
  filter: saturate(80%) brightness(90%) blur(1px);
}

@keyframes changecolour {
  0% {
    background-color: #6f5527;
  }

  25% {
    background-color: #98712e;
  }

  50% {
    background-color: #6f5527;
  }

  100% {
    background-color: #98712e;

  }
}

#header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* adjust as needed for spacing */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 100%;
}

#cover-text,
#searchwrap,
#clickybuttons {
  position: static !important;
  width: 80%;
  text-align: center;
}

#cover-text {
  text-align: center;
  background-color: #98712e;
  border-radius: 15px;
  padding: 5px 10px;
  animation-name: changecolour;
  animation-duration: 5s;
}

a {
  text-decoration: none;
  color: #ebc449;
}

a:hover,
a:active {
  color: #ebc449;
}

#cover-text:hover,
#cover-text:focus,
#searchbar:hover,
#searchbar:focus,
#searchbar:active {
  transform: scale(1.2, 1.2);
}


h1 {
  font-family: 'FinkHeavy', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ebc449;
  font-size: 4em;
}

#searchbar {
  width: 60vw;
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-family: var(--body-font);
  text-align: center;
}


#clickybuttons {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 50%;
}


#clickybuttons button:hover,
#clickybuttons a:hover,
#clickybuttons a:focus {
  transform: scale(1.1, 1.1);
}

button {
  background-color: #095535;
  border-radius: 10px;
  padding: 10px;
  color: #ebc449;
  border: 1px solid #ebc449;
  font-family: 'afacad flux';

}

#clickybuttons a {
  background-color: #095535;
  border-radius: 10px;
  padding: 10px;
  color: #ebc449;
  border: 1px solid #ebc449;
  font-family: 'afacad flux';
}

li {
  list-style-type: none;
}

#randomvillager {
  font-family: 'Arvo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  color: #6f5527;
}

img.card-img-top {
  height: 288px;
  width: 288px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#pagebuttons {
  position: relative;
}

.number-input {
  border: 2px solid #98712e;
  display: inline-flex;
  /* position: absolute;
  left: 35%; */
  margin-top: 5px;
  margin-left: 40%;
}

.number-input,
.number-input * {
  box-sizing: border-box;
  background-color: #fae69d;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

#backarrow:before {
  display: inline-block;
  position: absolute;
  content: '🌿';
  width: 2rem;
  transform: translate(-50%, -25%) rotate(180deg);
}

#forwardarrow:after {
  display: inline-block;
  position: absolute;
  content: '🌿';
  width: 2rem;
  transform: translate(-50%, -50%);
}

#forwardarrow {
  content: '&#10165;';
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #98712e;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  text-align: center;
  color: #6f5527;
}

#VillagerPage {

  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: #fae69d;
  border: rgb(235, 196, 73);
  text-align: center;
  font-family: var(--body-font);
  margin: 5px;
  height: 584px;
}

.card-body {
  height: 64px;
  background-color: rgb(235, 196, 73);
  flex: 0;
}

.card:hover,
.card:focus,
.card:active {
  transform: scale(0.9, 0.9);
}

.list-group-item {
  border: none;
  background-color: #fae69d;
}

#isabelle-main {
  height: 400px;
  width: 218.81px;
  right: -40%;
  position: absolute;
  top: -10%;
}


#aboutModalLabel {
  color: #98712e;
  padding-left: 15%;
}

.modal-header {
  border: none;
}

.modal-content {
  background-color: #fff1c0;
}

.modal-body {
  color: #6f5527;
}

.modal-body a {
  color: #095535;
}

.modal-footer {
  border: none;
}

.btn-close {
  color: #6f5527;
}

.btn-secondary {
  background-color: #6f5527;
  border: #6f5527;
}

/* css for the birthdaychecker page */


#discover {
  font-family: var(--header-font);
  color: #33c53b;
  border: 1px solid #98712e;
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(255, 241, 201, 0.5);
  font-size: 1.2rem;
}

#discover a {
  color: #98712e;
}

#birthdaycheckdefault {
  position: relative;
  line-height: 24px;
  display: block;
}

#birthdaycheck {
  padding: 10px;
}

#month,
#day {

  border-radius: 15px;
  background-color: #fff1c0;
  height: 50px;
  font-family: var(--body-font);
  text-align: center;
  border: 1px
}

#congrats,
#sorry {
  font-family: var(--body-font);
  color: #98712e;
  font-size: 1.5em;
  text-align: center;
  background-color: #fff1c0;
  border-radius: 15px;
  margin-top: 5px;
  line-height: 24px;
  padding: 5px;

}


#slash {
  color: #1aab73;
  font-family: var(--header-font);
}

#comment {
  font-family: var(--body-font);
  color: #33c53b;
  border: 2px solid #1aab73;
  border-radius: 15px;
  position: inherit;
  top: -100px;
  left: 10%;
  font-size: 1.2rem;
  padding: 10px;
  background-color: #095535;
}

#isabelle {
  height: 400px;
  width: 218.81px;
  position: inherit;
  right: -100px;
}


@media (min-width:1200px) {
  #cover-text {
    left: 35%;
  }

  #birthdaycheck {
    left: 43%;
  }

  #discover {
    left: 40%;
  }

  #isabelle {
    left: 600px;
  }

  #comment {
    left: 600px;
    font-size: 1.5rem;
  }
}

@media (max-width:1400px) and (min-width:1024px) {
  #clickybuttons {
    gap: 20px;
  }
}

/* Tablet screens */
@media (max-width: 1024px) {
  #clickybuttons {
    gap: 20px;
  }
}

@media (max-width:810px) {
  #cover-text {
    left: 20%;
  }

  /* css for the birthdaychecker html */
  #birthdaycheck {
    left: 40%;
  }

  #discover {
    top: 32%;
    left: 27%;
  }
}

@media (max-width:768px) {
  #clickybuttons {
    gap: 16px;
  }

#cover-text:hover,
#cover-text:focus {
  transform: scale(1.05, 1.05);
}

}

@media (max-width: 480px) {
  .btn-primary {
    top: 1%;
    position: absolute;
    left: 1%;
  }

  body:before {
    content: url(../images/yaopey-yong-t8woJfDB1Ec-unsplash-resize.webp);
    display: none;
  }

  #isabelle-main {
    display: none;
  }

  #cover-text {
    left: 10%;
    top: 10%;
    right: 10%;
  }



  #clickybuttons {
    width: 90vw;
    gap: 12px;
  }

  #clickybuttons button {
    padding: 10px;

  }

  .card {
    margin-left: 15%;
    max-width: 375px;
  }

  .number-input {
    margin-left: 25%;
  }

  /* css for the birthdaychecker html */
  #birthdaycheck {
    left: 24%;
    margin: 5px;
    top: 45%;
  }

  #discover {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    left: 0;
    text-align: center;
    top: 32%;
  }

  #comment {
    font-size: 0.9rem;
    top: 0;
    left: 5%;
    margin-left: 5px;
    top: 50%;
  }

  #isabelle {
    height: 100vw;

  }

}

@media (max-width: 380px) {
  #cover-text {
    right: 10%;
  }

  #clickybuttons {
    gap: 8px;
    width: 100vw;
  }

  .card {
    margin-left: 10%;
    max-width: 375px;
  }

  .number-input {
    margin-left: 22%;
  }

  /* css for the birthdaychecker html */
  #birthdaycheck {
    left: 20%;
    margin: 5px;
  }

  #discover {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    left: 0;
    text-align: center;
  }

  #comment {
    font-size: 0.9rem;
    top: 0;
    left: 0;
    margin-left: 5px;
  }
}

@media (max-width:320px) {


  #cover-text {
    padding: 10px;
  }



  h1 {
    font-size: 3.2rem;
  }

  .card {
    margin-left: 5%;

  }


  /* birthday checker css */
  .birthday ul .card {
    padding-left: 0px;
    margin-bottom: 0px;
  }

  #discover {
    top: 45%;
  }

  #birthdaycheck {
    top: 65%;
  }

  #comment {
    display: none;
  }

  .birthday #pagebuttons {
    display: none;
  }

  #demo {
    margin-bottom: -2px;
  }

  #hero-image {
    background: url(../images/yaopey-yong-t8woJfDB1Ec-unsplash-resize.webp) no-repeat center center;
  }

}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  body {
    background-attachment: scroll;
  }

  #clickybuttons {
    flex-direction: column;
  }

  #clickybuttons button {
    padding: 5px;
  }

  #hero-image {
    background: url(../images/yaopey-yong-t8woJfDB1Ec-unsplash-resize.webp) no-repeat center center;
    background-size: cover;
  }
}